body {
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

#to-do-list {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 400px;
  box-shadow: 0 0.5rem 8px 10px rgba(0 0 0 / 3%);
}

h2 {
  padding: 0 14px;
  margin: 12px 0;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
}

.reload {
  padding: 0;
  margin-left: auto;
  color: rgba(0 0 0 / 60%);
  font-size: 18px;
  background: none;
}

.add-item {
  display: flex;
  padding: 14px 8px 14px 14px;
  border-top: 1px solid rgba(0 0 0 / 15%);
}

#item-input {
  font-size: 14px;
  font-style: italic;
  border: none;
  width: 90%;
}

#item-input:focus {
  outline: none;
}

.enter-button {
  background-color: #fff;
  margin-left: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px 3px 14px 10px;
  border-top: 1px solid rgba(0 0 0 / 15%);
}

li input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  border: 3px solid #cacece;
  border-radius: 3px;
  padding: 9px;
}

li input[type="checkbox"]:checked {
  padding: 0.01rem 0.23rem;
  border: none;
}

li input[type="checkbox"]:checked::after {
  content: "\2714";
  font-size: 20px;
  color: #4187d5;
}

button {
  cursor: pointer;
  color: rgba(0 0 0 / 40%);
  border: none;
}

li button {
  cursor: move;
  font-size: 16px;
  font-weight: 1000;
  margin-left: auto;
  background: none;
}

button:hover {
  color: rgba(0 0 0 / 100%);
}

button:active {
  color: rgba(0 0 0 / 100%);
}

#clear-completed {
  font-size: 14px;
  padding: 18px 0;
}

#clear-completed:hover {
  text-decoration: underline;
}

#clear-completed:active {
  text-decoration: underline;
}

#clear-completed:focus {
  color: rgba(0 0 0 / 100%);
  text-decoration: underline;
}

.done {
  text-decoration: line-through;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

.gg-trash {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  box-shadow:
    0 0 0 2px,
    inset -2px 0 0,
    inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px;
}

.gg-trash::after,
.gg-trash::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-trash::after {
  background: currentcolor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -5px;
}

.gg-trash::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
  left: -2px;
}
